body {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form > * {
    margin: 10px;
}

.calc {
    width: 100%;
    display: flex;
    justify-content: center;
}